@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../node_modules/highlight.js/styles/gruvbox-dark.css";

html {
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  @media print {
    background: $background !important;
  }

  margin: 0;
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

code {
  font-family: source-code-pro, monospace;
}

a {
  outline: none;
}

.sbd {
  border-collapse: collapse;
}

.game-card {
  background-color: #5a5b6b;
  color: #fff;
}

.sbd-team {
  background-color: #5f998d;
}

.sbd-enemy {
  background-color: #9c5c60;
}

.sbd-name {
  text-align: left;
}

.sbd-num {
  text-align: center;
}

.sbd-cell {
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 10px;
}

.sbd-head {
  padding: 15px;
  cursor: pointer;
  border-width: 2px;
  border-style: none none solid none;
  border-color: #ebdbb2;
}
.sbd-h-name {
  padding: 15px;
  cursor: pointer;
  border-width: 2px;
  border-style: none none solid none;
  border-color: #ebdbb2;
}
.sbd-h-blank {
  padding: 15px;
  cursor: pointer;
  border-width: 2px;
  border-style: none none solid none;
  border-color: #ebdbb2;
}

.base-wrapper {
  background-color: $background;
  min-height: 100vh;
  font-size: calc(3px + 2vmin);
  color: $text-color;

  @media (max-width: 1024px) {
    font-size: calc(13px + 2vmin);
  }
}

.centering-vh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centering-h {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume {
  li {
    font-weight: 300;
    font-size: 18px;
  }

  .time {
    font-weight: 300;
  }
}

.major {
  border-bottom: 1px solid $text-color;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: max-content;
}

.fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
