<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158503713-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158503713-1');
    </script>
    <meta charset="utf-8" />

    <title>404 - Not Found</title>
    <meta
      name="description"
      content="2B Software Engineering Student at the University of Victoria"
    />
    <meta name="author" content="Jayden Chan" />

    {{cssfontlink}}
    <link rel="stylesheet" href="{{baseurl}}/styles.css" />
  </head>

  <body>
    <header class="centering-vh base-wrapper">
      <h1 class="text-5xl font-bold">
        404 &nbsp; :(
      </h1>
    </header>
  </body>
</html>
