<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{{title}}</title>
    <meta
      name="description"
      content="2B Software Engineering Student at the University of Victoria"
    />
    <meta name="author" content="Jayden Chan" />

    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <script>
      function filterBySearchText() {
        const input = document.getElementById('cheatPageInputID');
        const text = input.value.toUpperCase();
        const ul = document.getElementById('cheatPageListID');
        const li = ul.getElementsByTagName('li');

        let a, txtValue;
        for (let i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName('h3')[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(text) > -1) {
            li[i].style.display = '';
          } else {
            li[i].style.display = 'none';
          }
        }
      }
    </script>
  </head>

  <body>
    <header class="centering-h base-wrapper">{{content}}</header>
  </body>
</html>
