<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{{title}}</title>
    <meta
      name="description"
      content="2B Software Engineering Student at the University of Victoria"
    />
    <meta name="author" content="Jayden Chan" />

    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <script
      crossorigin
      src="https://unpkg.com/react@16/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
    ></script>
  </head>

  <body>
    <header id="root" class="centering-h base-wrapper">{{content}}</header>
    <script src="{{reactsrc}}"></script>
  </body>
</html>
