<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158503713-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158503713-1');
    </script>
    <meta charset="utf-8" />

    <title>{{title}}</title>
    <meta
      name="description"
      content="3A Software Engineering Student at the University of Victoria"
    />
    <meta name="author" content="Jayden Chan" />

    {{cssfontlink}}
    <link rel="stylesheet" href="{{baseurl}}/styles.css" />
    <style>
      canvas {
        width: 100%;
        height: 100%;
      }
      #can {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }
    </style>
  </head>

  <body>
    <header class="centering-vh base-wrapper">
      {{content}}
    </header>
  </body>
</html>
